#!/usr/bin/env python
PACKAGE = "repeatability_processing"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# name, type, level, description, default, min, max
gen.add("box_min_x", double_t, 0, "Min Range", 24.5, 0, 100)
gen.add("box_max_x", double_t, 0, "Max Range", 25.5, 0, 100)
gen.add("box_min_y", double_t, 0, "Right Side Dim", -1.0, -10, 10)
gen.add("box_max_y", double_t, 0, "Left Side Dim", 1.0, -10, 10)
gen.add("box_min_z", double_t, 0, "Min Height", 0.0, -5, 5)
gen.add("box_max_z", double_t, 0, "Max Height", 1.0, -5, 5)

# Generate the configuration file
exit(gen.generate(PACKAGE, "dynamic_param_box_filter", "BoxParams"))
